.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(43, 56, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleBox{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    background-color: rgb(87, 111, 159);
}
.batao{
    margin: 20px;
    height: 40px;
    width: 300px;
    border-radius: 20px;
}
.btn{
    height: 40px;
    border-radius: 20px;
    background-color: pink;

}
.doneButton{
    height: 30px;
    border-radius: 20px;
    background-color: green;
    margin: 30px;
    color: white;
}
.removeButton{
    height: 30px;
    border-radius: 20px;
    background-color: brown;
    color: white;
}
